@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
  --select_background: #fff;
  --select_color: #101010;
}
[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000;
  --heading_color: #000000;
  --select_background: #290e00;
  --select_color: #fff;
}

.active {
  color: red;
  font-weight: bold;
}
